form{
    display:flex;
    flex-direction: column;
}

body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.book-card{
    color:white;
    display: flex;
    padding: 10px;
    background-color:rgb(195, 124, 124);
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.displaybooks{
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap:30px;
}

button{
    height: 30px;
    width: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(241, 223, 223);;
}

.newbookform{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(195,124,124);
    padding: 10px;
}


label{
    display:flex;
    align-self: center;
}